<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src='https://code.angularjs.org/1.2.0/angular.js'></script>
</head>
<body>
<div ng-controller="map">
    <input type="text" ng-model="hi" value="sss" />
<p ng-bind="hi"></p>
</div>


<div ng-controller="clock">
    {{t.clock}}
<input type="text" ng-model="tflg" />
{{tflg}}
</div>
<script>
var app = angular.module('myApp', []);
app.controller('map', function($scope){
console.log($scope.hi);
});


app.controller('clock', function($scope, $timeout){
    $scope.t = {
        clock : new Date()
    }
  
   function up(){
        $scope.t.clock = new Date();
        $scope.$digest();
   }
    
   

   setInterval(up, 100);

});

</script>	
</body>
</html>
